@import "tailwindcss";

@theme inline {
  --color-background: #090A0F;
  --color-foreground: #ededed;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cinzel);
}

body {
  background-color: #090A0F;
  color: #ededed;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Base styles for liquid glass input autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0a0a0a inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}